.updateProfile {
    padding-top: 20px;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--border-color);
        border-radius: 6px;
        padding: 20px;

        .left-part {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .input-user-img {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                .labelImg {
                    height: 160px;
                    width: 160px;
                    border-radius: 50%;
                    border: 2px dashed var(--theme-color-light);
                    user-select: none;
                    cursor: pointer;
                    // overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .inputImg {
                    display: none;
                }
            }
        }

        .right-part {
            flex: 3;

            form {
                border: 1px solid var(--border-color);
                padding: 30px 20px;
            }

            input {
                display: block;
                padding: 8px 16px;
                border-radius: 8px;
                border: 1px solid var(--border-color);
                margin-top: 10px;
            }

            .submit {
                background-color: var(--theme-color);
                color: var(--white);
                border: 1px solid var(--border-color);
                border-radius: 10px;
                padding: 10px 40px;
                margin-top: 10px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }

            .submit:hover {
                background-color: var(--white);
                color: var(--theme-color);
            }

            .delete {
                margin-top: 10px;
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: end;

                .btn-primary {
                    background-color: var(--logout);
                    border: none;
                    border-radius: 10px;
                    // margin-top: 10px;
                    // margin-left: 10px;
                }

                .btn-primary:active {
                    background-color: #bd0000;
                }
            }
        }
    }
}
